body {
  font-family: "Cairo", sans-serif;
  background: #f7e600; /* خلفية صفراء */
  color: #333;
  margin: 0;
}

header {
  background: #2ecc71;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
}

.lessons button {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 12px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.lessons button:hover {
  background: #2980b9;
  transform: scale(1.05);
}

.sim-btn {
  background: #e67e22;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.sim-btn:hover {
  background: #d35400;
}

